<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="metaprogramming.extensionpoint">
      <approach
            name="Ecore Approach"
            validator="metaprogramming.ecoreapproach.EcoreRuleProvider">
      </approach>
   </extension>

</plugin>
